<div class="container mx-auto text-secondary"
  style="background-color:rgb(252, 237, 190); width: 700px ;box-shadow:3px 3px 15px rgb(70, 70, 67);">
  <h1 class="text-center display-4 mt-4">New Expense</h1>
  <h5 class="my-4" style="color: lightcoral;">* Required</h5>
  <form action="/records" method="POST" class="font-weight-bolder ">
    <div class="form-group row mb-4">
      <label for="example-text-input" class="col-2 col-form-label">Name*</label>
      <div class="col-10">
        <input class="form-control" type="text" placeholder="Name" id="example-text-input" name="name" required>
      </div>
    </div>
    <div class="form-group row mb-4">
      <label for="exampleSelect1" class="col-2 col-form-label">Category*</label>
      <div class="col-10">
        <select class="form-control" id="exampleSelect1" style="cursor: pointer" name="category" required>
          <option value="" disabled selected>Category</option>
          <option value="home">home</option>
          <option value="transportation">transportation</option>
          <option value="entertainment">entertainment</option>
          <option value="food">food</option>
          <option value="others">others</option>
        </select>
      </div>
    </div>
    <div class="form-group input-group row mb-4">
      <label for="example-date-input" class="col-2 col-form-label mr-4">Date*</label>
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 45px;"><i class=" far fa-calendar-alt fa-lg"></i></span>
      </div>
      <input class="form-control col-5" type="date" id="example-date-input" style="cursor: pointer" name='date'
        required>
    </div>
    <div class="form-group input-group row mb-4">
      <label for="example-number-input" class="col-2 col-form-label mr-4">Amount*</label>
      <div class="input-group-prepend">
        <span class="input-group-text" style="width: 45px"><i class="fas fa-dollar-sign fa-lg ml-1"></i></span>
      </div>
      <input class=" form-control col-5" id="example-number-input" name="amount" required>
    </div>
    <div class="text-center mt-4 row d-flex justify-content-center">
      <button type="submit" ! class="btn btn-sm mb-3 mr-3 text-white font-weight-bolder"
        onclick="window.alert('Expense created!')" style="background-color: lightcoral;">Create</button>
      <button type="button" onclick="history.back()"
        class="btn btn-sm btn-secondary  font-weight-bolder mb-3">Back</button>
    </div>
  </form>
</div>