<div class="mx-auto d-flex flex-column align-items-center" style="width: 60vw;">
  <h2 class="display-4 text-muted font-weight-bolder mt-2">You don't have expenses under this category, go buy something
    : )
  </h2>
  <button type="button" onclick="history.back()"
    class="btn btn-secondary  mx-auto font-weight-bolder mt-3">Back</button>
</div>